[tool.bumpversion]
current_version = "2.4.0.dev0"
parse = """(?x)
    (?P<major>\\d+)\\.
    (?P<minor>\\d+)\\.
    (?P<patch>\\d+)
    (?:
        (?P<state>[.a-zA-Z-]+)
        (?P<count>0|[1-9]\\d*)
    )?
"""
serialize = [
    "{major}.{minor}.{patch}{state}{count}",
    "{major}.{minor}.{patch}",
]
search = "{current_version}"
replace = "{new_version}"
regex = false
ignore_missing_version = false
ignore_missing_files = false
tag = false
sign_tags = false
tag_name = "mailnagger_{new_version}"
tag_message = "Bump version: {current_version} → {new_version}"
allow_dirty = true
commit = false
message = "Bump version: {current_version} → {new_version}"
commit_args = ""
setup_hooks = []
pre_commit_hooks = []
post_commit_hooks = []


[tool.bumpversion.parts.state]
values = [".dev", "rc", "final"]
optional_value = "final"


[[tool.bumpversion.files]]
filename = "setup.py"
search = "APP_VERSION = '{current_version}'"
replace = "APP_VERSION = '{new_version}'"


[[tool.bumpversion.files]]
filename = "Mailnag/common/dist_cfg.py"
search = "APP_VERSION = '{current_version}'"
replace = "APP_VERSION = '{new_version}'"

[[tool.bumpversion.files]]
filename = "gen_po_template"
search = "version=\"{current_version}\""
replace = "version=\"{new_version}\""

