[flake8]
show-source = True

extend-ignore =
    # continuation line under-indented for visual indent. TODO
    E128
    # do not use bare 'except'. TODO
    E722
    # comparison to None should be 'if cond is not None:'. TODO
    E711
    # Currently most of the files are indented with tabs. TODO
    W191
    # Blank line at the end of file. TODO
    W391
    # whitespace before ':'. TODO
    E203
    # unexpected spaces around keyword / parameter equals TODO
    E251
    # blank line contains whitespace. TODO
    W293
    # too many blank lines (2). TODO
    E303
    # line too long. TODO
    E501
    #  trailing whitespace. TODO
    W291
    # multiple statements on one line (colon). TODO
    E701
    # module level import not at top of file. TODO
    E402
    # at least two spaces before inline comment. TODO
    E261
    # expected 1 blank line. TODO
    E301

extend-exclude =
    # External code.
    Mailnag/common/imaplib2.py
    # Build directory.
    build/
    # Env directory
    .env-dev/

